root = true

[*]
charset=utf-8
next_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4

# Generic non-language specific ones for Resharper and friends
brace_style=next_line
int_align=true
keep_existing_arrangement=false
place_simple_blocks_on_single_line=true
place_simple_declaration_blocks_on_single_line=true
place_attribute_on_same_line=false
space_after_unary_operator=false
space_after_comma=true
space_around_ternary_operator=true
space_around_binary_operator=true
space_around_member_access_operator=false
space_before_open_square_brackets=false
space_after_keywords_in_control_flow_statements=true
space_before_comma=false
space_between_method_call_name_and_opening_parenthesis=false
space_between_method_declaration_name_and_open_parenthesis=false
space_between_square_brackets=false
space_between_parentheses_of_control_flow_statements=false
accessor_owner_declaration_braces=next_line
accessor_declaration_braces=next_line
case_block_braces=next_line
initializer_braces=next_line
other_braces=next_line
allow_comment_after_lbrace=false
empty_block_style=together_same_line
braces_for_ifelse=not_required
braces_for_for=not_required
braces_for_foreach=not_required
braces_for_while=not_required
braces_for_dowhile=not_required
braces_for_using=not_required
braces_for_lock=not_required
braces_for_fixed=not_required
method_or_operator_body=expression_body
local_function_body=expression_body
constructor_or_destructor_body=expression_body
accessor_owner_body=expression_body
force_attribute_style=join
function_braces=next_line
force_control_statements_braces=always_remove
space_in_singleline_accessorholder=true
type_declaration_braces=next_line
invocable_declaration_braces=next_line
anonymous_method_declaration_braces=next_line
space_between_accessors_in_singleline_property=true
indent_nested_usings_stmt=true
space_within_empty_braces=false
indent_nested_fixed_stmt=true
indent_nested_lock_stmt=true
indent_nested_for_stmt=true
indent_nested_foreach_stmt=true
indent_nested_while_stmt=true
use_continuous_indent_inside_parens=true
indent_method_decl_pars=inside
indent_invocation_pars=inside
indent_statement_pars=inside
indent_typeparam_angles=inside
indent_typearg_angles=inside
indent_pars=inside
indent_preprocessor_if=outdent
indent_preprocessor_region=usual_indent
indent_preprocessor_other=usual_indent
indent_switch_labels=true
indent_type_constraints=true
stick_comment=false
alignment_tab_fill_style=use_spaces
align_multiline_parameter=true
align_multiline_extends_list=true
align_linq_query=true
align_multiline_binary_expressions_chain=true
outdent_binary_ops=true
align_multiline_calls_chain=true
outdent_dots=true
align_multiline_array_and_object_initializer=false
indent_anonymous_method_block=false
align_first_arg_by_paren=true
align_multiline_argument=true
align_tuple_components=true
align_multiline_expression=true
align_multiline_for_stmt=true
align_multiple_declaration=true
align_multline_type_parameter_list=true
align_multline_type_parameter_constrains=true
int_align_fields=true
int_align_properties=true
int_align_methods=true
int_align_parameters=false
int_align_variables=true
int_align_assignments=true
int_align_nested_ternary=true
int_align_invocations=false
int_align_binary_expressions=true
int_align_comments=true
int_align_switch_sections=true
keep_user_linebreaks=false
keep_existing_arrangement=false
keep_existing_linebreaks=false
max_line_length=120
wrap_before_comma=false
special_else_if_treatment=true
place_type_attribute_on_same_line=never
place_method_attribute_on_same_line=never
place_accessorholder_attribute_on_same_line=never
place_attribute_on_same_line=never
place_accessor_attribute_on_same_line=never
place_attribute_on_same_line=never
place_field_attribute_on_same_line=never
place_attribute_on_same_line=never
wrap_parameters_style=wrap_if_long
keep_existing_declaration_parens_arrangement=false
wrap_before_declaration_lpar=false
wrap_after_declaration_lpar=false
wrap_before_declaration_rpar=false
place_constructor_initializer_on_same_line=true
keep_existing_expr_member_arrangement=false
place_expr_method_on_single_line=true
place_expr_property_on_single_line=true
place_expr_accessor_on_single_line=true
wrap_before_arrow_with_expressions=false
place_type_constraints_on_same_line=true
wrap_before_first_type_parameter_constraint=true
wrap_multiple_type_parameter_constraints_style=wrap_if_long
wrap_before_type_parameter_langle=true
wrap_before_extends_colon=false
wrap_extends_list_style=wrap_if_long
keep_existing_declaration_block_arrangement=false
place_abstract_accessorholder_on_single_line=true
place_simple_accessorholder_on_single_line=false
place_accessor_with_attrs_holder_on_single_line=false
place_simple_accessor_on_single_line=true
place_simple_method_on_single_line=false
keep_existing_enum_arrangement=false
place_simple_enum_on_single_line=false
wrap_enum_declaration=wrap_if_long
new_line_before_else=true
new_line_before_while=false
wrap_for_stmt_header_style=wrap_if_long
wrap_multiple_declaration_style=wrap_if_long
keep_existing_embedded_arrangement=false
place_simple_embedded_statement_on_same_line=false
place_simple_case_statement_on_same_line=true
keep_existing_embedded_block_arrangement=false
place_simple_embedded_block_on_same_line=false
place_simple_anonymousmethod_on_single_line=false
keep_existing_initializer_arrangement=false
place_simple_initializer_on_single_line=false
wrap_object_and_collection_initializer_style=wrap_if_long
wrap_array_initializer_style=wrap_if_long
wrap_arguments_style=wrap_if_long
keep_existing_invocation_parens_arrangement=false
wrap_after_invocation_lpar=false
wrap_before_invocation_rpar=false
wrap_after_dot_in_method_calls=true
wrap_chained_method_calls=wrap_if_long
wrap_before_binary_opsign=false
wrap_chained_binary_expressions=wrap_if_long
force_chop_compound_if_expression=true
force_chop_compound_while_expression=true
force_chop_compound_do_expression=true
wrap_before_ternary_opsigns=true
wrap_ternary_expr_style=wrap_if_long
nested_ternary_style=expanded
wrap_linq_expressions=wrap_if_long
wrap_before_linq_expression=false
place_linq_into_on_new_line=false
wrap_verbatim_interpolated_strings=wrap_if_long
extra_spaces=remove_all
space_after_keywords_in_control_flow_statements=false
space_between_method_call_name_and_opening_parenthesis=false
space_between_method_declaration_name_and_open_parenthesis=false
space_before_typeof_parentheses=false
space_before_checked_parentheses=false
space_before_sizeof_parentheses=false
space_before_nameof_parentheses=false
space_between_keyword_and_expression=true
space_between_keyword_and_type=true
space_around_assignment_op=true
space_around_logical_op=true
space_around_binary_operator=true
space_around_equality_op=true
space_around_relational_op=true
space_around_bitwise_op=true
space_around_additive_op=true
space_around_multiplicative_op=true
space_around_shift_op=true
space_around_nullcoalescing_op=true
space_around_arrow_op=false
space_after_logical_not_op=false
space_after_unary_operator=false
space_after_cast=false
space_around_dot=false
space_around_lambda_arrow=true
space_before_pointer_asterik_declaration=false
space_before_nullable_mark=false
blank_lines_around_class_definition=1
namespace_indentation=all
space_within_template_argument=false
align_union_type_usage=true
space_in_singleline_method=true
space_in_singleline_anonymous_method=true
space_within_single_line_array_initializer_braces=true
space_around_arrow_op=false

# These are for markup languages (HTML, XML, etc)
spaces_around_eq_in_pi_attribute=false
space_after_last_pi_attribute=true
pi_attributes_indent=align_by_first_attribute
blank_line_after_pi=true
spaces_around_eq_in_attribute=false
space_after_last_attribute=false
space_before_self_closing=true
attribute_style=on_single_line
attribute_indent=align_by_first_attribute
sort_attributes=true
sort_class_selectors=true
max_blank_lines_between_tags=0
linebreak_before_all_elements=true
linebreak_before_multiline_elements=true
quote_style=doublequoted
delete_quotes_from_solid_values=false
normalize_tag_names=true


[{.babelrc,.stylelintrc,jest.config,.eslintrc,.prettierrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_size=2

[*.js.map]
indent_size=2

[*.{css,scss}]
indent_size=2
declarations_style=separate_lines_for_nonsingle
media_query_style=separate_lines
selector_style=same_line
properties_style=separate_lines_for_nonsingle
brace_style=next_line

[{.analysis_options,*.yml,*.yaml}]
indent_size=2

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec}]
indent_size = 2

# .net files
[*.{cs,vb}]
# These set the this. / Me.
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_event=false:warning

# These make it suggest Int32 instead of int, etc.
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion

# This controls implicit access modifiers
dotnet_style_require_accessibility_modifiers=never:suggestion

# Prefer non modified fields to be marked readonly
dotnet_style_readonly_field=true:warning

# Parenthesis settings
dotnet_style_parentheses_in_arithmetic_binary_operators=always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators=always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators=always_for_clarity:warning
dotnet_style_parentheses_in_other_operators=always_for_clarity:warning

dotnet_style_object_initializer=true:suggestion
dotnet_style_collection_initializer=true:suggestion
dotnet_style_explicit_tuple_names=true:error
dotnet_style_prefer_inferred_tuple_names=true:warning
dotnet_style_prefer_inferred_anonymous_type_member_names=true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:warning
dotnet_style_prefer_conditional_expression_over_return=true:warning
dotnet_style_coalesce_expression=true:warning
dotnet_style_null_propagation=true:error

dotnet_sort_system_directives_first=true

# Constants in C style, all-caps
dotnet_naming_rule.constant_fields_caps.symbols = constant_fields
dotnet_naming_rule.constant_fields_caps.severity = suggestion
dotnet_naming_rule.constant_fields_caps.style = caps_style
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_style.caps_style.capitalization = all_upper

# interfaces should be prefixed with I
dotnet_naming_rule.pascal_case_for_interface.severity = error
dotnet_naming_rule.pascal_case_for_interface.symbols  = interfaces_fields
dotnet_naming_rule.pascal_case_for_interface.style    = pascal_case_interface_style
dotnet_naming_symbols.interfaces_fields.applicable_kinds = interface
dotnet_naming_style.pascal_case_interface_style.required_prefix = I
dotnet_naming_style.pascal_case_interface_style.capitalization = pascal_case

## internal and private fields should be _camelCase
dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style    = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case

# 2018-12-07 NP: This is not yet working in VS2017
# local variables should be camelCase
#dotnet_naming_rule.camel_case_for_locals.severity = suggestion
#dotnet_naming_rule.camel_case_for_locals.symbols  = local_fields
#dotnet_naming_rule.camel_case_for_locals.style    = camel_case_style
#dotnet_naming_symbols.local_fields.applicable_kinds = local
#dotnet_naming_style.camel_case_style.capitalization = camel_case

[*.cs]
# var var var
csharp_style_var_for_built_in_types=false:warning
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_style_var_elsewhere=false:warning

csharp_style_expression_bodied_methods=when_on_single_line:suggestion
csharp_style_expression_bodied_constructors=when_on_single_line:suggestion
csharp_style_expression_bodied_operators=when_on_single_line:suggestion
csharp_style_expression_bodied_properties=when_on_single_line:suggestion
csharp_style_expression_bodied_indexers=when_on_single_line:suggestion
csharp_style_expression_bodied_accessors=when_on_single_line:suggestion

csharp_style_pattern_matching_over_is_with_cast_check=true:warning
csharp_style_pattern_matching_over_as_with_null_check=when_on_single_line:warning

csharp_style_inlined_variable_declaration=true:warning

csharp_prefer_simple_default_expression=true:warning
csharp_style_deconstructed_variable_declaration=false:warning

csharp_style_throw_expression=true:warning
csharp_style_conditional_delegate_call=true:warning

csharp_prefer_braces=false

csharp_new_line_before_open_brace=all
csharp_new_line_before_else=true
csharp_new_line_before_catch=true
csharp_new_line_before_finally=true
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_members_in_anonymous_types=true
csharp_new_line_between_query_expression_clauses=true

csharp_indent_case_contents=true
csharp_indent_switch_labels=true
csharp_indent_labels=flush_left

csharp_space_after_cast=false
csharp_space_after_keywords_in_control_flow_statements=false
csharp_space_between_method_declaration_parameter_list_parentheses=false
csharp_space_between_parentheses=none
csharp_space_before_colon_in_inheritance_clause=true
csharp_space_after_colon_in_inheritance_clause=true
csharp_space_around_binary_operators=before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_call_empty_parameter_list_parentheses=false

csharp_preserve_single_line_statements=false
csharp_preserve_single_line_blocks=true

csharp_blank_lines_around_region=0
csharp_blank_lines_inside_region=0
csharp_blank_lines_before_single_line_comment=1
csharp_keep_blank_lines_in_declarations=1
csharp_remove_blank_lines_near_braces_in_declarations=true
csharp_blank_lines_after_start_comment=false
csharp_blank_lines_between_using_groups=0
csharp_blank_lines_after_using_list=1
csharp_blank_lines_around_namespace=1
csharp_blank_lines_inside_namespace=0
csharp_blank_lines_around_type=1
csharp_blank_lines_inside_type=0
csharp_blank_lines_around_field=0
csharp_blank_lines_around_single_line_field=0
csharp_blank_lines_around_property=1
csharp_blank_lines_around_single_line_property=0
csharp_blank_lines_around_auto_property=0
csharp_blank_lines_around_single_line_auto_property=0
csharp_blank_lines_around_invocable=1
csharp_blank_lines_around_single_line_invocable=1
csharp_keep_blank_lines_in_code=1
csharp_remove_blank_lines_near_braces_in_code=true
csharp_blank_lines_around_local_method=1
csharp_blank_lines_around_single_line_local_method=1
csharp_blank_lines_before_control_transfer_statements=1
csharp_blank_lines_after_control_transfer_statements=1
csharp_blank_lines_before_block_statements=1
csharp_blank_lines_after_block_statements=1
csharp_blank_lines_before_multiline_statements=1
csharp_blank_lines_after_multiline_statements=1

csharp_type_declaration_braces=next_line
csharp_brace_style=next_line
csharp_indent_inside_namespace=true
csharp_invocable_declaration_braces=next_line
csharp_anonymous_method_declaration_braces=next_line
csharp_accessor_owner_declaration_braces=next_line
csharp_accessor_declaration_braces=next_line
csharp_case_block_braces=next_line
csharp_initializer_braces=next_line
csharp_other_braces=next_line
csharp_allow_comment_after_lbrace=false
csharp_empty_block_style=together_same_line

csharp_for_built_in_types=use_explicit_type
csharp_for_simple_types=use_var_when_evident
csharp_for_other_types=use_explicit_type
csharp_prefer_separate_deconstructed_variables_declaration=true
csharp_prefer_explicit_discard_declaration=false

csharp_instance_members_qualify_members=none
csharp_builtin_type_reference_style=use_keyword
csharp_prefer_qualified_reference=false
csharp_add_imports_to_deepest_scope=false
csharp_allow_alias=true
csharp_default_private_modifier=implicit
csharp_default_internal_modifier=explicit
csharp_arguments_literal=positional
csharp_arguments_string_literal=positional
csharp_arguments_named=positional
csharp_arguments_anonymous_function=positional
csharp_arguments_other=positional
csharp_braces_for_ifelse=not_required
csharp_braces_for_for=not_required
csharp_braces_for_foreach=not_required
csharp_braces_for_while=not_required
csharp_braces_for_dowhile=not_required
csharp_braces_for_using=not_required
csharp_braces_for_lock=not_required
csharp_braces_for_fixed=not_required
csharp_method_or_operator_body=expression_body
csharp_local_function_body=expression_body
csharp_constructor_or_destructor_body=expression_body
csharp_accessor_owner_body=expression_body
csharp_force_attribute_style=join
csharp_indent_nested_usings_stmt=true

csharp_builtin_type_reference_for_member_access_style=use_keyword
csharp_indent_nested_fixed_stmt=true
csharp_indent_nested_lock_stmt=true
csharp_indent_nested_for_stmt=true
csharp_indent_nested_foreach_stmt=true
csharp_indent_nested_while_stmt=true
csharp_use_continuous_indent_inside_parens=true
csharp_indent_method_decl_pars=inside
csharp_indent_invocation_pars=inside
csharp_indent_statement_pars=inside
csharp_indent_typeparam_angles=inside
csharp_indent_typearg_angles=inside
csharp_indent_pars=inside
csharp_indent_preprocessor_if=outdent
csharp_indent_preprocessor_region=usual_indent
csharp_indent_preprocessor_other=usual_indent
csharp_indent_switch_labels=true
csharp_indent_type_constraints=true
csharp_stick_comment=false
csharp_alignment_tab_fill_style=use_spaces
csharp_align_multiline_parameter=true
csharp_align_multiline_extends_list=true
csharp_align_linq_query=true
csharp_align_multiline_binary_expressions_chain=true
csharp_outdent_binary_ops=true
csharp_align_multiline_calls_chain=true
csharp_outdent_dots=true
csharp_align_multiline_array_and_object_initializer=false
csharp_indent_anonymous_method_block=false
csharp_align_first_arg_by_paren=true
csharp_align_multiline_argument=true
csharp_align_tuple_components=true
csharp_align_multiline_expression=true
csharp_align_multiline_for_stmt=true
csharp_align_multiple_declaration=true
csharp_align_multline_type_parameter_list=true
csharp_align_multline_type_parameter_constrains=true
csharp_int_align_fields=true
csharp_int_align_properties=true
csharp_int_align_methods=true
csharp_int_align_parameters=false
csharp_int_align_variables=true
csharp_int_align_assignments=true
csharp_int_align_nested_ternary=true
csharp_int_align_invocations=false
csharp_int_align_binary_expressions=true
csharp_int_align_comments=true
csharp_int_align_switch_sections=true
csharp_keep_user_linebreaks=false
csharp_keep_existing_arrangement=false
csharp_keep_existing_linebreaks=false
csharp_max_line_length=120
csharp_wrap_before_comma=false
csharp_special_else_if_treatment=true
csharp_insert_final_newline=false
csharp_place_type_attribute_on_same_line=never
csharp_place_method_attribute_on_same_line=never
csharp_place_accessorholder_attribute_on_same_line=never
csharp_place_attribute_on_same_line=never
csharp_place_accessor_attribute_on_same_line=never
csharp_place_attribute_on_same_line=never
csharp_place_field_attribute_on_same_line=never
csharp_place_attribute_on_same_line=never
csharp_wrap_parameters_style=wrap_if_long
csharp_keep_existing_declaration_parens_arrangement=false
csharp_wrap_before_declaration_lpar=false
csharp_wrap_after_declaration_lpar=false
csharp_wrap_before_declaration_rpar=false
csharp_place_constructor_initializer_on_same_line=true
csharp_keep_existing_expr_member_arrangement=false
csharp_place_expr_method_on_single_line=true
csharp_place_expr_property_on_single_line=true
csharp_place_expr_accessor_on_single_line=true
csharp_wrap_before_arrow_with_expressions=false
csharp_place_type_constraints_on_same_line=true
csharp_wrap_before_first_type_parameter_constraint=true
csharp_wrap_multiple_type_parameter_constraints_style=wrap_if_long
csharp_wrap_before_type_parameter_langle=true
csharp_wrap_before_extends_colon=false
csharp_wrap_extends_list_style=wrap_if_long
csharp_keep_existing_declaration_block_arrangement=false
csharp_place_abstract_accessorholder_on_single_line=true
csharp_place_simple_accessorholder_on_single_line=false
csharp_place_accessor_with_attrs_holder_on_single_line=false
csharp_place_simple_accessor_on_single_line=true
csharp_place_simple_method_on_single_line=false
csharp_keep_existing_enum_arrangement=false
csharp_place_simple_enum_on_single_line=false
csharp_wrap_enum_declaration=wrap_if_long
csharp_new_line_before_else=true
csharp_new_line_before_while=false
csharp_wrap_for_stmt_header_style=wrap_if_long
csharp_wrap_multiple_declaration_style=wrap_if_long
csharp_keep_existing_embedded_arrangement=false
csharp_place_simple_embedded_statement_on_same_line=false
csharp_place_simple_case_statement_on_same_line=true
csharp_keep_existing_embedded_block_arrangement=false
csharp_place_simple_embedded_block_on_same_line=false
csharp_place_simple_anonymousmethod_on_single_line=false
csharp_keep_existing_initializer_arrangement=false
csharp_place_simple_initializer_on_single_line=false
csharp_wrap_object_and_collection_initializer_style=wrap_if_long
csharp_wrap_array_initializer_style=wrap_if_long
csharp_wrap_arguments_style=wrap_if_long
csharp_keep_existing_invocation_parens_arrangement=false
csharp_wrap_after_invocation_lpar=false
csharp_wrap_before_invocation_rpar=false
csharp_wrap_after_dot_in_method_calls=true
csharp_wrap_chained_method_calls=wrap_if_long
csharp_wrap_before_binary_opsign=false
csharp_wrap_chained_binary_expressions=wrap_if_long
csharp_force_chop_compound_if_expression=true
csharp_force_chop_compound_while_expression=true
csharp_force_chop_compound_do_expression=true
csharp_wrap_before_ternary_opsigns=true
csharp_wrap_ternary_expr_style=wrap_if_long
csharp_nested_ternary_style=expanded
csharp_wrap_linq_expressions=wrap_if_long
csharp_wrap_before_linq_expression=false
csharp_place_linq_into_on_new_line=false
csharp_wrap_verbatim_interpolated_strings=wrap_if_long
csharp_extra_spaces=remove_all
csharp_space_after_keywords_in_control_flow_statements=false
csharp_space_between_method_call_name_and_opening_parenthesis=false
csharp_space_between_method_declaration_name_and_open_parenthesis=false
csharp_space_before_typeof_parentheses=false
csharp_space_before_checked_parentheses=false
csharp_space_before_sizeof_parentheses=false
csharp_space_before_nameof_parentheses=false
csharp_space_between_keyword_and_expression=true
csharp_space_between_keyword_and_type=true
csharp_space_around_assignment_op=true
csharp_space_around_logical_op=true
csharp_space_around_binary_operator=true
csharp_space_around_equality_op=true
csharp_space_around_relational_op=true
csharp_space_around_bitwise_op=true
csharp_space_around_additive_op=true
csharp_space_around_multiplicative_op=true
csharp_space_around_shift_op=true
csharp_space_around_nullcoalescing_op=true
csharp_space_around_arrow_op=false
csharp_space_after_logical_not_op=false
csharp_space_after_unary_operator=false
csharp_space_after_cast=false
csharp_space_around_dot=false
csharp_space_around_lambda_arrow=true
csharp_space_before_pointer_asterik_declaration=false
csharp_space_before_nullable_mark=false

[*.cshtml]
linebreaks_around_razor_statements=true
blank_lines_around_razor_functions=true
blank_lines_around_razor_helpers=true
blank_lines_around_razor_sections=true

# C++
[*.{cc,cpp,cxx,h,hpp,hxx}]
cpp_indent_access_specifiers_from_class=true
cpp_indent_wrapped_function_names=false
cpp_align_multiline_type_argument=true

# C, C++ and ObjectiveC
[*.{c,h,cc,cpp,cxx,m,hpp,hxx}]
indent_preprocessor_directives=normal
indent_type_constraints=true

# Javascript and Typescript
[*.{js,js.map,ts}]
quote_style=doublequoted
termination_style=ensure_semicolon