[submodule "CICMMetadata"]
	path = CICMMetadata
	url = https://github.com/claunia/CICMMetadata
[submodule "cuetoolsnet"]
	path = cuetoolsnet
	url = https://github.com/claunia/cuetoolsnet.git
[submodule "DiscImageChef.CommonTypes"]
	path = DiscImageChef.CommonTypes
	url = git@github.com:discimagechef/DiscImageChef.CommonTypes.git
[submodule "DiscImageChef.Console"]
	path = DiscImageChef.Console
	url = git@github.com:discimagechef/DiscImageChef.Console.git
[submodule "DiscImageChef.Decoders"]
	path = DiscImageChef.Decoders
	url = git@github.com:discimagechef/DiscImageChef.Decoders.git
[submodule "DiscImageChef.Dto"]
	path = DiscImageChef.Dto
	url = git@github.com:discimagechef/DiscImageChef.Dto.git
