[submodule "CICMMetadata"]
	path = CICMMetadata
	url = https://github.com/claunia/CICMMetadata
[submodule "Aaru.Checksums"]
	path = Aaru.Checksums
	url = https://github.com/aaru-dps/Aaru.Checksums
[submodule "Aaru.CommonTypes"]
	path = Aaru.CommonTypes
	url = https://github.com/aaru-dps/Aaru.CommonTypes
[submodule "Aaru.Console"]
	path = Aaru.Console
	url = https://github.com/aaru-dps/Aaru.Console
[submodule "Aaru.Decoders"]
	path = Aaru.Decoders
	url = https://github.com/aaru-dps/Aaru.Decoders
[submodule "Aaru.Dto"]
	path = Aaru.Dto
	url = https://github.com/aaru-dps/Aaru.Dto
[submodule "Aaru.Helpers"]
	path = Aaru.Helpers
	url = https://github.com/aaru-dps/Aaru.Helpers
[submodule "cuetools.net"]
	path = Aaru.Compression/cuetools.net
	url = https://github.com/gchudov/cuetools.net
[submodule "Aaru.Decryption"]
	path = Aaru.Decryption
	url = https://github.com/aaru-dps/Aaru.Decryption
