// /***************************************************************************
// The Disc Image Chef
// ----------------------------------------------------------------------------
//
// Filename       : dicserver.scss
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// Component      : DiscImageChef Server.
//
// --[ Description ] ----------------------------------------------------------
//
//     Sets server styling.
//
// --[ License ] --------------------------------------------------------------
//
//     This library is free software; you can redistribute it and/or modify
//     it under the terms of the GNU Lesser General Public License as
//     published by the Free Software Foundation; either version 2.1 of the
//     License, or (at your option) any later version.
//
//     This library is distributed in the hope that it will be useful, but
//     WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//     Lesser General Public License for more details.
//
//     You should have received a copy of the GNU Lesser General Public
//     License along with this library; if not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2011-2018 Natalia Portillo
// ****************************************************************************/

@import "_colors";
@import "_vgafont";
@import "_fontstyles";

@import "../node_modules/bootstrap/scss/bootstrap";

footer
{
    background-color: $brown;
    color: $black;
}

header
{
    background-color: $teal;
    color: $black;
    text-align: center;
}

header a
{
    color: $pink;
}

header a:hover
{
    color: $orange;
    text-decoration: none;
}

footer a:hover
{
    text-decoration: none;
}

.table-centered
{
    margin-left:auto;
    margin-right:auto;
}

.card-button{color:$yellow}

.table-dark-em
{
    color: $brown;
    font-style: normal;
}

.table-dark-header
{
    color: $brown;
    font-style: normal;
    text-align: center;
}