@import "_colors";
@import "_vgafont";
@import "_fontstyles";

$colors: $orange $green $brown $indigo $pink $teal $yellow $purple $cyan $white;
$background-color: $body-bg;

$neutral-color-100: $brightwhite; // Strong text.
$neutral-color-80: $white; // Main text and some strokes.
$neutral-color-60: $white; // Axis labels, axis title, connector fallback.
$neutral-color-40: $white; // Credits text, export menu stroke.
$neutral-color-20: $darkgray; // Disabled texts, button strokes, crosshair etc.
$neutral-color-10: $darkgray; // Grid lines etc.
$neutral-color-5: $darkgray; // Minor grid lines etc.
$neutral-color-3: $darkgray; // Tooltip backgroud, button fills, map null points.

$font-family:            $font-family-base;

$tooltip-background: $brightwhite;

$data-label-color: $yellow;

@import "_highcharts";