@font-face
{
    font-family: 'VGAsquarePx';
    src: url(int10h.org/vga_squarepx.eot);
    src: url(int10h.org/vga_squarepx.eot?#iefix) format('embedded-opentype'),
    url(int10h.org/vga_squarepx.woff2) format('woff2'),
    url(int10h.org/vga_squarepx.woff) format('woff'),
    url(int10h.org/vga_squarepx.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* define a black "stipple" background with DOS font */

body
{
    background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: #AAAAAA;
    font-family: 'VGAsquarePx', serif;
    font-size: 20pt;
    margin: 0;
}

/* links are cyan, hover is bright yellow */

a
{
    color: #00AAAA;
    text-decoration: none;
}

a:hover
{ color: #FFFF55; }

/* headings and bold text are bright white */

h1, h2, h3, h4,
b, strong
{
    color: #FFFFFF;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
}

/* italic text is green */

em, i
{
    color: #00AA00;
    font-style: normal;
}

/* define content areas */

header, main, footer
{
    margin: 0 auto;
    padding: 1em 0;
    max-width: 800px;
}

/* use black on cyan text for header */

header
{
    background-color: #00AAAA;
    color: #000000;
}

/* insert the "April 1st" text */

header > h1::before
{ content: "Today is April 1, 2017!"; }

header > h1 img
{
    display: block;
    width: 300px;
}

header > form
{ }

header > form fieldset
{ border: none; }

/* use black on gray for navigation */

nav
{
    background-color: #AAAAAA;
    color: #000000;
}

nav a
{ color: #000000; }

nav img
{ display: none; }

nav span
{ }

nav > ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav > ul li
{
    display: inline;
    margin: 0 .5em;
}

/* use white on blue for main text */

main
{
    background-color: #0000AA;
    color: #AAAAAA;
}

main > nav
{ }

main > nav li::before
{ content: ">"; }

main > section
{ }

main div.third img
{ display: block; }

/* use black on brown text for footer */

footer
{
    background-color: #AA5500;
    color: #000000;
}

footer > nav
{ }

footer > section
{ }