<?xml version="1.0"?>

<!--
Web.config file for DiscImageChef.Server.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
    <system.web>
        <compilation targetFramework="4.5">
            <assemblies />
        </compilation>
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <pages>
        <controls>
            <add assembly="Velyo.AspNet.Markdown" namespace="Velyo.AspNet.Markdown" tagPrefix="velyo" />
        </controls>
    </pages>
</configuration>