<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Claunia.RsrcFork" version="1.0.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net40" />
  <package id="plist-cil" version="1.16.0" targetFramework="net40" />
  <package id="SharpCompress" version="0.17.0" targetFramework="net40" />
</packages>