<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Natalia Portillo</string>
	<key>CFBundleIconFile</key>
	<string>Aaru.icns</string>
	<key>CFBundleName</key>
	<string>Aaru</string>
	<key>CFBundleIdentifier</key>
	<string>app.aaru</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.0-beta.2</string>
	<key>CFBundleExecutable</key>
	<string>aaru</string>
	<key>LSExecutableArchitectures</key>
	<array>
		<string>x86_64</string>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
