// /***************************************************************************
// The Disc Image Chef
// ----------------------------------------------------------------------------
//
// Filename       : dicserver_highcharts.scss
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// Component      : DiscImageChef Server.
//
// --[ Description ] ----------------------------------------------------------
//
//     Sets style for server's charts.
//
// --[ License ] --------------------------------------------------------------
//
//     This library is free software; you can redistribute it and/or modify
//     it under the terms of the GNU Lesser General Public License as
//     published by the Free Software Foundation; either version 2.1 of the
//     License, or (at your option) any later version.
//
//     This library is distributed in the hope that it will be useful, but
//     WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//     Lesser General Public License for more details.
//
//     You should have received a copy of the GNU Lesser General Public
//     License along with this library; if not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2011-2019 Natalia Portillo
// ****************************************************************************/

@import "_colors";
@import "_font";
@import "_fontstyles";

$colors: $green $yellow $orange $brown $red $magenta $purple $blue $cyan $tan $darkgreen;
$background-color: $body-bg;

$neutral-color-100: $black; // Strong text.
$neutral-color-80: $gray-800; // Main text and some strokes.
$neutral-color-60: $gray-600; // Axis labels, axis title, connector fallback.
$neutral-color-40: $gray-400; // Credits text, export menu stroke.
$neutral-color-20: $gray-200; // Disabled texts, button strokes, crosshair etc.
$neutral-color-10: $gray-100; // Grid lines etc.
$neutral-color-5: $gray-100; // Minor grid lines etc.
$neutral-color-3: $gray-100; // Tooltip backgroud, button fills, map null points.

$font-family:            $font-family-base;

$tooltip-background: $white;

$data-label-color: $yellow;

@import "../_highcharts";